name: Stale issues and pull requests

on:
  schedule:
  - cron: "* * * * *"

jobs:
  stale:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/stale@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: "Little to no information has been reported back to us so we'll close this for now!"
        stale-pr-message: "No action has been taken for this P/R as of yet, so we will be closing it till someone can get back to it later."
        
